<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Products</title>
    </head>
    <body>
        <ul>
            <% for(let i=0; i<products.length; i++) {
                %> 
                    <%product=products[i];%>
                    <li>
                        <form method="post" action="/addToCart">
                            <input type="hidden" value="<%=product.getId()%>">
                            <label><%=product.getName()%> 
                                <input type="button" value="Add to Cart">
                            </label>
                        </form>
                    </li>
                    <ul>
                        <li><%=product.getPrice()%></li>
                        <li><%=product.getDescription()%></li>
                    </ul>
                <%    
            }
            %>
        </ul>
    </body>
</html>