<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/js/index.js"></script>
    </head>
    <body>
        <p>Quantity in Cart: <span id='quant'><%=quantity%></span></p>
        <p>Product Name: <%=product.getName()%></p>
        <p>Product Price: <%=product.getPrice()%></p>
        <form id="add">
            <input type="hidden" id=name value="<%=product.getName()%>">
            <input type="submit" value="Add to Cart">
        </form>
        <a href="/cart"> View Cart </a>
    </body>
</html>