body{
	margin: 0;
	padding: 0;
	/*line-height: 1;*/
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
	background-image: url("../img/review/background.png");
}


/* id stylings */
#banner{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
	background-image: url(../img/review/bannerbg.png);
	background-repeat: repeat-x;
	z-index: 1;
}

#content-container{
	margin: auto;
	width: 800px;
	min-height: 1000px;
	position: relative;
	border-radius: 20px;
	border: 4px solid gray;
	overflow: hidden;
}

#container-right{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 31.25%;
	max-width: 100%;
	background-color: #A2B964;
}

#container-left{
	width: 68.75%;
	max-width: 100%;
}

#rotten-container{
	color: red;
	font-size: 48pt;
	background-image: url(../img/review/rbg.png);
	background-repeat: repeat-x;
}

#rotten-container span{
	vertical-align: top;
}

#critics-container{
	column-count: 2;
	margin: 0 2% 0 2%;
	overflow: scroll;
}

#content-bottom{
	margin: 0;
	padding: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #A2B964;
}

#validator{
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: 0.5;
}

#validator a{
	display: block;
}


/* class styling */
.comment{
	padding: 10;
    page-break-inside: avoid;
    break-inside: avoid;
}

.comment p:first-child{
	padding: 8px;
	margin-top: 20px;
	font-weight: bold;
	border-radius: 10px;
	border: 2px solid gray;
	background-color: #E8DC9B;
	min-height: 20px;
}



#critics-container div{
	margin-top: 20px;
}

/* tag element styling */
h1 {
	padding-top: 50px;
	font-size: 24pt;
	text-align: center;
	text-shadow: 3px 3px #999999;
	font-family: Tahoma, Verdana, sans-serif;
}

p img{
	float: left;
	margin-right: 5px;
	width: 22px;
	height: 20px;
}

dl{
	padding: 0 10pt;
	font-family: Arial, sans-serif;
}

dt{
	font-weight: bold;
	margin-top: 10pt;
}

dd ul{
	margin: 0;
	padding: 0;
	list-style: none;
}






